<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appguitarrasfirebase">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sgr"
        android:label="Lista de Guitarras"
        android:roundIcon="@drawable/sgr"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppGuitarrasFirebase">
        <activity android:name=".DetalhesActivity"></activity>
        <activity android:name=".ConsultaActivity" />
        <activity android:name=".CadastrarUsuarioActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>